<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <appSettings>
      
    
      
  </appSettings>
  
  <pluginSettings>
    <plugin enable="true">Plugin1.dll</plugin>
    <plugin enable="true">pfxConvertor.dll</plugin>
    <plugin enable="true">pfxInSAR.dll</plugin>
	<plugin enable="true">pfxCTInSAR.dll</plugin>
	<plugin enable="true">pfxRoiSelect.dll</plugin>
    
    <pluginMenu name="图像基本处理" plugin="pfxConvertor.dll">
      <pluginMenu name="数据转换" plugin="pfxConvertor.dll">
        <pluginMenu name="RD2转换" plugin="pfxConvertor.dll" entry="EntryRd2sp2Local"/>        
        <pluginMenu name="IQ通道合成" plugin="pfxConvertor.dll" entry="EntryIqComb"/>
       </pluginMenu>
      <pluginMenu name="R2数据标定" plugin="pfxConvertor.dll" entry="EntryR2Calibration"/>
      <pluginMenu name="复数据处理" plugin="pfxConvertor.dll" entry="EntryComplexConvertor"/>
      <pluginMenu name="多视处理" plugin="pfxConvertor.dll" entry="EntryMultiLooks"/>
	  <pluginMenu name="ROI处理" plugin="pfxRoiSelect.dll" entry="EntryRoiSelect"/>
    </pluginMenu>

    <pluginMenu name="InSAR" plugin="pfxInSAR.dll">
      <pluginMenu name="基线分析" plugin="pfxInSAR.dll">
        <pluginMenu name="干涉图像基线计算" plugin="pfxInSAR.dll" entry="EntryInSARBaselineEst"/>
        <pluginMenu name="干涉图像组合分析" plugin="pfxInSAR.dll" entry="EntryInSARMaps"/>
      </pluginMenu>
      <pluginMenu name="精轨数据导入" plugin="pfxInSAR.dll" entry="EntryPreOrbImport"/>
      <pluginMenu name="粗配准" plugin="pfxInSAR.dll">
        <pluginMenu name="粗配准" plugin="pfxInSAR.dll" entry="EntryInSARCoarse"/>        
      </pluginMenu>
      <pluginMenu name="处理区域选择" plugin="pfxRoiSelect.dll" entry="EntryRoiSelect"/>
      <pluginMenu name="精配准" plugin="pfxInSAR.dll">
        <pluginMenu name="精配准" plugin="pfxInSAR.dll" entry="EntryInSARFine"/>
      </pluginMenu>
      <pluginMenu name="平地相位计算" plugin="pfxInSAR.dll" entry="EntryInSARFlatPhase"/>
      <pluginMenu name="相干性估计" plugin="pfxInSAR.dll" entry="EntryInSARCoherence"/>             
    </pluginMenu>

    <pluginMenu name="CTInSAR" plugin="pfxCTInSAR.dll">
      <pluginMenu name="平均相干系数图" plugin="pfxCTInSAR.dll" entry="EntryCTInSARMeanCoh"/>
      <pluginMenu name="相干目标选择" plugin="pfxCTInSAR.dll" entry="EntryCTInSARMusk"/>
      <pluginMenu name="基线、入射角和斜距计算" plugin="pfxCTInSAR.dll" entry="EntryCTInSARBaseline"/>
      <pluginMenu name = "线性形变反演" plugin= "pfxCTInSAR.dll">
        <pluginMenu name="PSC生成" plugin="pfxCTInSAR.dll" entry="EntryCTInSARPSC"/>
        <pluginMenu name="Denuanay三角网建立" plugin="pfxCTInSAR.dll" entry="EntryCTInSARDenuanayNetwork"/>
        <pluginMenu name="增量集成" plugin="pfxCTInSAR.dll" entry="EntryCTInSARIntegration"/>
      </pluginMenu>
      <pluginMenu name="离散点残余相位" plugin="pfxCTInSAR.dll" entry="EntryCTInSARResidue"/>
      <pluginMenu name="离散点残余相位解缠" plugin="pfxCTInSAR.dll" entry="EntryCTInSARResidueUnw"/>
	    <pluginMenu name="非线性形变和大气相位计算" plugin="pfxCTInSAR.dll" entry="EntryCTInSARUonlinear"/>
    </pluginMenu>
  </pluginSettings>
 


</configuration>
